<div class="relative ml-[21px] mr-[21px] h-[485px] bg-[#14171A] mt-[21px] rounded-[20px] flex flex-col">
    <div class="flex flex-row justify-between">
        <div class="flex flex-row ml-[15px] mt-[15px]">
            <img src="assets/weekly-challenges/Ellipse 237.svg" width="16" height="16" alt=""/>
            <img src="assets/weekly-challenges/Ellipse 238.svg" width="16" height="16" alt="" class="absolute self-center ml-[10px]"/>
            <img src="assets/weekly-challenges/Ellipse 243.svg" width="16" height="16" alt="" class="absolute self-center ml-[20px]"/>
            <img src="assets/weekly-challenges/Ellipse 519.svg" width="16" height="16" alt="" class="absolute self-center ml-[30px]"/>
            <p class="absolute self-center ml-[34px] text-[8px] font-normal">18</p>
        </div>
        <p *ngIf="late" class="text-right font-normal text-[10px] mr-[15px] mt-[15px] opacity-50 t-shadow">Too late to join</p>
    </div>
    <h2 class="ml-[16px] font-medium text-[20px] mt-[18px] mb-[22px] opacity-50">{{data.title}}</h2>
    <div class="flex flex-col">
        <div *ngFor="let x of contestant">
            <app-contestant [contestant]="x"></app-contestant>
        </div>
        
    </div>
    
    <!-- creator -->
    <div class="flex flex-row ml-[16px] mt-[22px]">
        <img [src]="data.creator.img" width="24" height="24" alt="" class="rounded-[24px] mr-[8px] w-[24px] h-[24px]"/>
        <div class="flex flex-col">
            <p class="text-[10px] font-medium">{{data.creator.name}}</p>
            <p class="text-[8px] font-normal opacity-50">{{data.creator.at}}</p>
        </div>
        <img src="assets/weekly-challenges/creator/Group 20965.svg" width="24" height="24" alt="" class="rounded-[24px] ml-[10px] mr-[8px] w-[24px] h-[24px]"/>
        <div class="flex flex-col">
            <p class="text-[10px] font-medium">{{data.creator.prize}}</p>
            <p class="text-[8px] font-normal opacity-50">&#64;xBits prize</p>
        </div>
        <div class="ml-auto">
            <p [ngClass]="{
                'text-[#FF6F6F]': data.late,
                'text-[#88FFC7]': !data.late
              }" class="absolute mx-[8px] my-[3px] text-[12px] font-medium">{{data.days}}</p>
            <img src="assets/weekly-challenges/creator/Ellipse 518.svg" width="24" height="24" alt="" class="rounded-[24px]" [ngClass]="{
                'text-[#FF6F6F]': data.late,
                'text-[#88FFC7]': !data.late
              }"/>
        </div>
        <div class="flex flex-col mr-[15px] ml-[8px]" [ngClass]="{
            'text-[#FF6F6F]': data.late,
            'text-[#88FFC7]': !data.late
          }">
            <p class="text-[10px] font-medium">Days</p>
            <p class="text-[8px] font-normal">{{data.late ? "Past": "Left"}}</p>
        </div>
    </div>
    <!-- call to action -->
    <button class="text-center bg-[#303236] m-[15px] rounded-[13px] border-[0.5px] border-[#ffffff] border-opacity-20 hover:border-[#000000] hover:border-3 hover:bg-[#88FFC7] transition-all duration-100">
        <h2 class="py-[14px] text-[12px] font-semibold letter-space-two">{{data.late ? "VIEW" : "JOIN"}}</h2>
        
    </button>
</div>
