<div class="app">
    <img src="assets/Vector 12 (1).svg" alt="" class="w-screen h-2/5 top-0 object-cover fixed blur-2xl"/>
    <app-top-bar></app-top-bar>
    <header class="relative mt-[23px] ml-[21px]">
        <h2 class="text-[22px] font-semibold opacity-50">Competitions</h2>
    </header>
    <div *ngFor="let item of jsonData">
        <app-weekly-challenges [data]="item"></app-weekly-challenges>
    </div>
    <app-double-gain-week-contest></app-double-gain-week-contest>
    <app-create-competition></app-create-competition>

    <button class="w-[100px] h-[100px] fixed bottom-[50px] right-[14px] z-50 rounded-full">
        <img src="assets/create competition idle.svg" alt="" width="100" height="100" />
    </button>
    
</div>