<div class="text-white mt-[10px] h-8 ml-[21px] mr-[22px] flex flex-row items-center">
    <div class="w-[30px] h-[30px] items-center justify-center mr-[10px]">
        <p class="absolute mx-[6px] mt-[7px] mb-[5px] text-[12px] font-semibold">AG</p>
        <img src="assets/user/Ellipse1.png" alt="user-image"/>
    </div>
    <div class="flex flex-col">
        <p class="text-[14px] font-normal">Alex</p>
        <div class="flex flex-row items-center">
            <img src="assets/user/Vector.svg" alt="" width="16" height="16" class="w-[16px] h-[10px] mr-[6px]"/>
            <p class="text-[12px] font-normal mr-[10px]">3000 xBits</p>
            <img src="assets/user/Group 20971.svg" alt="" width="12" height="9" class="mr-[6.35px]"/>
            <p class="text-[12px] font-normal">85</p>
        </div>
    </div>
    <div class="ml-auto">
        <img src="assets/user/Vector (1).svg" alt=""/>
    </div>
</div>